.sidepanel-container {
  background-color: rgb(255 255 255 / 91%);
  color: #005239;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  transition: 0.3s ease-in-out;
  user-select: none;
  width: fit-content;
  z-index: 1000;
  max-width: calc(100% - 60px);
}

.sidepanel-container.closed {
  transform: translateX(-100%);
}

.sidepanel-content {
  top: 80px;
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #005239;
  border-radius: 50%;
  width: 2.9em;
  height: 2.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.toggle-button:focus {
  outline: none;
}

.duotone-icon {
  font-size: 40px;
  color: white;
}

.filters-container {
  width: 300px;
  margin: 15px;
  justify-self: anchor-center;
}

select {
  width: 270px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 20px 0 8px;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  color: #999;
  height: 40px;
  background-color: #fefefe;
  border-color: #e5e5e5;
}