img {
}

.navigation-container {
    align-items: center;
    background-color: white;
    color: pink;
    justify-content: space-between;
    width: 100%;
}

.navigation {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
    min-height: 70px;
}
