img {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navigation-container {
    align-items: center;
    background-color: white;
    color: pink;
    justify-content: space-between;
    width: 100%;
}

.navigation {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    min-height: 70px;
}
